body, html{ 
  height: 100%;
  margin: 0;
  font-family:'Lato', sans-serif;
 
}


#anchor1 {
  margin-top:-100px;
}

#wrap {
    max-width: 100%;
    box-sizing: border-box;
    background:white;
    height:auto;
    padding:0px 50px 50px 50px; 
    min-height:100%;
    margin-top:100px;
}

.header {
  background:#5F5F5F;
  background-image: url("https://i.imgur.com/E9i8vnm.jpg");
  height:calc(100%);
  top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:1;
  z-index: 100;
  position: relative;
}

.headercss {
  background:#5F5F5F;
  background-image:url(cssslides/slide1.png);
  height:calc(100%);
  top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:1;
  z-index: 100;
  position: relative;
}
.sec {
  padding-top: 50px;
}

#question-slide {
  font-weight: bold; text-align: center; font-size: 48px;
  min-height: 400px;
}

#wrap a {
  color: #5181E1;
}

@media only screen and (max-width: 707px) {
    .header {
        margin-top:167.33px;
        height:calc(100% - 167.33px );
    }

    .title {
      margin-top: 53.70px;
    }

    #wrap {
      margin-top:167.33px;
    }
    #anchor1 {
      margin-top:-167.33px;
    }
}


.title {
  position: absolute;
  color:white; 
  font-weight:bold;
  left: 0px;
  top: 40%;
  width: 100%; 
  text-align: center;
  font-size: 48px; 
  font-family: 'Courier New', Courier, monospace;
}

.content {
  padding:0px;
  color:black;
  margin-left: 150px;
  width: calc(100% - 200px);
  box-sizing: border-box;
}

a:link {
  color:white; 
  text-decoration:none;
}

a:visited {
  color:white; 
  text-decoration:none;
}

.content img {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 796px) {
  .boxes {
    margin-top:20px;
    width:100%;
  }
}


/* Page nav CSS */

.page-navigation {
    position: fixed;
    top: 200px;
    box-sizing: border-box;
    left:0;
    z-index: 1;
    text-align: right;
    padding-right: 20px;
    border-right: 2px dashed #0092CE;
    font-size: 14px;
}
.page-navigation li {
    width: 100%;
    list-style-type: none;
    margin-top: 10px;
}
.page-navigation a {
    padding: 10px;
    width: 100%;
    color: #5d5f60;
}

.page-navigation .current a {
    color: #005a7f;
    font-weight: bold;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

@media (max-width: 1025px) {
	#anchor1 {
  		margin-top:-220px;
	}
	
	#wrap {
		margin-top: 220px;
	}
	.page-navigation {
		top: 250px;
	}
}
