body {
  background: #333333;
}

.imgslide {
  height: 100vh !important;
  overflow: hidden;
}

#photos {
  position: relative;
  width: auto;
  height: 100%;
  clear: both;
  margin: 0px auto;
  img {
    position: absolute;
    z-index: 0;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    &.previous {
      z-index: 1;
    }
    &.current {
      z-index: 2;
    }
  }
}



#dots {
  padding: 0;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
#next {
  background-image: url('http://arielbeninca.com/Storage/next.png');
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  cursor: pointer;
  float: right;
  position: absolute;
  top: 50%;
  z-index: 5;
  right: 100px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#prev {
     background-image: url('http://arielbeninca.com/Storage/prev.png');
background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  cursor: pointer;
  z-index: 5;
  position: absolute;
  float: left;
  top: 50%;
  left: 100px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#dots li {
  opacity:0.8;
   background-image: url('http://arielbeninca.com/Storage/dot.png');
  width:15px;
  height: 15px;
  cursor: pointer;
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  &:hover, &.selected {
    background-image: url('http://arielbeninca.com/Storage/dotfill.png');
  width:15px;
  height: 15px;
  
  }
}